{
    "swagger": "2.0",
    "info": {
        "title": "Swagger Brumaide",
        "description": "Brumaide api swagger",
        "contact": {
            "name": "contact@brumaire.fr"
        },
        "license": {
            "name": "A Definir"
        }
    },
    "host": "api.brumaide.fr",
    "basePath": "/api/v1",
    "schemes": [
        "http"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/users": {
            "get": {
                "tags": [
                    "users"
                ],
                "summary": "List all users",
                "description": "",
                "operationId": "listUsers",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "An array of users",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "models/user.model"
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "users"
                ],
                "summary": "Create user",
                "description": "This can only be done by the logged in user.",
                "operationId": "createUser",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Created user",
                        "required": true,
                        "schema": {
                            "$ref": "models/user.model"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        }
    }
}